<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,900&family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
      integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/logic/index.js" defer></script>
    <title>Crypto Charts</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><h1>Crypto Charts</h1></li>
        <li>
          <form id="coinForm">
            <input type="text" placeholder="Search" name="coin" id="search" />
            <div id="suggestions" class="suggestions-dropdown"></div>
          </form>
        </li>
      </ul>
    </nav>
    <hr />
    <section id="charts">
      <div class="title-container">
        <h2><%= coin%> - $<%= currentRate %></h2>
        <form id="radioForm">
          <div class="burger-menu">&#9776;</div>
          <div class="radio-group">
            <label>
              <input type="radio" name="option" value="1" />
              <span>1 Day</span>
            </label>
            <label>
              <input type="radio" name="option" value="7" />
              <span>7 Days</span>
            </label>
            <label>
              <input type="radio" name="option" value="30" />
              <span>30 Days</span>
            </label>
            <label>
              <input type="radio" name="option" value="90" />
              <span>90 Day</span>
            </label>
            </label>
          </div>
        </form>
      </div>
      <canvas id="myChart"></canvas>
      <script>
        const dateString = <%- JSON.stringify(dates) %>;
        console.log(dateString)
        const closingDates = dateString.map(element => element.slice(0,10));
        const closingRates = <%- JSON.stringify(rates) %>;
        console.log(closingRates)
        let ctx = document.getElementById("myChart").getContext("2d");
        let myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: closingDates,
            datasets: [
              {
                label: "Closing Rates (USD)",
                data: closingRates,
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: false,
              },
            },
          },
        });
      </script>
    </section>
  </body>
</html>
